<a href="https://colab.research.google.com/github/snehil1693/python/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
list1 = [1,2,3,4,5,5,6]
number = 5
list2_occurences = []
for i in range (0,len(list1)):
  if (list1[i] == 5):
    list2_occurences.append(i)
print(list2_occurences)

[4, 5]

In [10]:
#without paramter and without return type
def first():
  print("Hello")

first ()
first ()

Hello
Hello

In [13]:
#with parameter and without return type

def find_sum(a,b):
  res = a+b
  print(res)

find_sum(10,30)
find_sum(90,60)

40
150

In [19]:
def find_index(get_list_input,get_number):
  list2_occurences = []
  for i in range (0,len(get_list_input)):
    if(get_list_input[i] == get_number):
      list2_occurences.append(i)
  print(list2_occurences)

list1 = [1,2,3,4,5,5,6]
number = 5
find_index(list1,number)

[4, 5]

In [21]:
#with parmeter and with return type

def find_sum(a,b):
  res = a+b
  return res

res = find_sum(10,20)
print(res)
res = find_sum(30,40)
print(res)

30
70

In [22]:
def find_index(get_list_input,get_number):
  list2_occurences = []
  for i in range (0,len(get_list_input)):
    if(get_list_input[i] == get_number):
      list2_occurences.append(i)
  return list2_occurences

list1 = [1,2,3,4,5,5,6]
number = 5
res1 = find_index(list1,number)
print(res1)

[4, 5]

In [25]:
# without parameter and with return type

def first():
  return "hello"

res = first()
print(res)
print(res)

hello
hello