<a href="https://colab.research.google.com/github/snehil1693/python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
first_length = int(input("enter the length"))
second_breadth = int(input("enter the breadth"))
if (first_length == second_breadth):
     print("it is a square")
else:
     print("it is rectangle")

enter the length10
enter the breadth20
it is rectangle

In [ ]:
first = int(input("enter the first value = "))
second = int(input("enter the second value = "))
if (first > second):
     print(first)
elif(first==second):
    print("both are equals")
else:
    print(second)

enter the first value = 89
enter the second value = 89
both are equals

In [ ]:
purchased = int(input("enter the quantity = "))
real_price = 100 * purchased
if(real_price>100):
  discount = 0.1 * real_price
  Actual_Price = real_price - discount
  print(Actual_Price)
else:
  print("No discount")

enter the quantity = 11
990.0

In [ ]:
salary = int(input("enter the salary = "))
service = int(input("enter the years = "))
if( service > 5):
  bonus = 0.05 * salary
  net_salary = bonus + salary
  str_in = net_salary
  print(str_in)

enter the salary = 10000
enter the years = 7
10500.0

In [ ]:
grade = int(input("enter the grade = "))
str_in = str(grade)
if( grade >= 80):
     print("A " + str_in)
elif( grade >= 60 and grade <80):
     print("B " + str_in)
elif( grade >= 50 and grade <60):
     print("C " + str_in)
elif( grade >= 45 and grade <50):
     print("D " + str_in)
elif( grade >= 25 and grade <45):
     print("E " + str_in)
else:
     print("F " + str_in)

enter the grade = 67
B 67

In [ ]:
first = int(input("first = "))
second = int(input("second = "))
third = int(input("third = "))

if (first > second and first > third):
    print("first is highest")
elif(second > third and second > third):
    print("second is highest")
elif(third > first and third > second):
    print("third is highest")

first = 78
second = 86
third = 90
third is highest

In [ ]:
first = int(input("first = "))
second = int(input("second = "))
third = int(input("third = "))

if (first < second and first < third):
     print("first is smallest")
elif (second<first and second<third):
     print("second is smallest")
elif (third <first and third < second):
     print("third is smallest")

first = 15
second = 29
third = 35
first is smallest

In [ ]:
class_held = int(input("No of classes held = "))
class_attended = int(input("No of classes attended = "))
min_attendence = (class_attended / class_held) * 100
str_in = str(min_attendence)
if (min_attendence > 75 and min_attendence <100):
    print("allowed to sit = " + str_in)
else:
    print("not allowed to sit = " + str_in)

No of classes held = 100
No of classes attended = 80
allowed to sit = 80